<div id="header">
  <img src="~/img/pierres-logo.png" id="headerLogo" alt="Pierre's Treats Logo" />
  <div id="headerNavLinks">
    <span class="headerNavLink">@Html.ActionLink("Home", "Index", "Home")</span>
    <span class="headerNavLink">@Html.ActionLink("Treats", "Index", "Treats")</span>
    <span class="headerNavLink">@Html.ActionLink("Flavors", "Index", "Flavors")</span>
  </div>
  <div id="headerAuthStatus">
    @if (User.Identity.IsAuthenticated)
    {
      <p class="headerWelcomeMessage">
        Welcome, <span>@User.Identity.Name</span>!<br />
        @Html.ActionLink("Manage Account", "Index", "Account")
      </p>
    }
    else
    {
      <p class="headerWelcomeMessage">
        <span>Welcome!</span><br />
        @Html.ActionLink("Log In / Register", "Index", "Account")
      </p>
    }
  </div>
</div>