@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat
@using PierresTreats.Models;

<div class="bodyColumnA">
  <p>@Html.ActionLink("Discard Changes", "Details", new { id = @Model.TreatId })</p>
</div>


<div class="bodyColumnB">
  <h2>@ViewBag.PageTitle</h2>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)
    @Html.HiddenFor(model => model.FlavorTypes)
    <p>
      Treat Name: @Html.TextBoxFor(model => model.TreatName)<br />
      @Html.ValidationMessageFor(model => model.TreatName, "", new { @class = "error" })<br />
    </p>
    <input type="submit" value="Update Treat" />
  }
</div>