@{
  Layout = "_Layout";
}

@using PierresTreats.Models;

<h2>@ViewBag.PageTitle</h2>

@if (@Model.Count == 0)
{
  <p class="error">No treats have been added yet.</p>
} 

@foreach (Treat trt in Model)
{
  <li>@Html.ActionLink($"{trt.TreatName}", "Details", new { id = trt.TreatId })</li>
}

<p>@Html.ActionLink("Add new treat", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>