@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels
@model LoginViewModel

<h2>@ViewBag.PageTitle</h2>
<br />

@if (!ViewData.ModelState.IsValid)
{
  <p class="error">@Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")</p>
}

@using (Html.BeginForm())
{
  @if (ViewBag.ErrorMessage != null)
  {
    <p class="error">@ViewBag.ErrorMessage</p>
    @* @Html.Hidden("ReturnUrl", ViewBag.LoginRedirect) *@
    <input style="{display: hidden}" type="hidden" name="RedirectAction" value="@ViewBag.LoginRedirect" />

  }
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)

  @Html.LabelFor(m => m.Password)
  @Html.EditorFor(m => m.Password)

  <input type="submit" value="Log in" />
}

<p>@Html.ActionLink("Register for an account", "Register")</p>
<br /><br />
<p>@Html.ActionLink("Back to accounts page", "Index")</p>